* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #C1B5AD;
}

#map {
  height: 100vh;
  width: 100vw;
}

img{
  height: 10vh;
  width: 12vw;
}

header{
  display: flex;
  justify-content: space-between;
  background-color: rgb(108, 187, 108);
}

nav{
  display: flex;
  flex: 0 0 50%;
  align-items: center;
  justify-content: space-evenly;


  /* align-content: center; */
  /* justify-content: flex-end; */
}

.nav-item{
  flex: 0 0 33%;
  text-align: center;
  /* align-self: center; */
}

.nav-item a{
  color: white;
  font-size: 25px;
  text-decoration: none;
  padding: 10px;
}

#wholeBody{
  display: flex;

}

#map{
  flex: 0 0 65%;
  z-index: 2;
}

.tripStuff{
  display: flex;
  flex-direction: column;
  flex: 0 0 35%;
  justify-content: space-evenly;
  z-index: 1;
}

.panel {
  border-style: solid;
  z-index: 3;
}


/* #itinerary{

} */
