* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #C1B5AD;
}

#map {
  height: 100vh;
  width: 100vw;
}

img{
  height: 10vh;
  width: 12vw;
}

header{
  display: flex;
  justify-content: space-between;
  background-color: rgb(85, 85, 184);
}

nav{
  display: flex;
  flex: 0 0 50%;
  
  
  /* align-content: center; */
  /* justify-content: flex-end; */
}

.nav-item{
  flex: 0 0 33%;
  text-align: center;
  align-self: center;
}

.nav-item a{
  color: white;
  font-size: 25px;
  text-decoration: none;
  padding: 10px;
}

#wholeBody{
  /* display: flex; */
  
}

#map{
  /* flex: 0 0 65%; */
}

.tripstuff{
  display: flex;
  flex-direction: column;
  /* flex: 0 0 35% */
}

#options{
  position: absolute;
  top: 160px;
  right: 0px;
  background-color: lightblue;
  padding: 20px;
}
#itinerary{
  position: absolute;
  top: 450px;
  right: 0px;
  background-color: lightblue;
  padding: 60px;
}


select{
  width: 25 px;
}